[user]
	name = andrei
	email = akela1101@gmail.com
[color]
	ui = true
[receive]
	denyCurrentBranch = ignore
[push]
	default = current
[core]
	editor = nano
	autocrlf = input
	safecrlf = false
	whitespace = cr-at-eol
	excludesfile = ~/.gitignore_global
[alias]
	co = checkout
	cp = cherry-pick
	bang = !git reset --hard && git clean -dff && git submodule foreach --recursive git reset --hard
	clean-branches = !git branch --merged origin/master | grep -v master | xargs -n 1 git branch -d
	cl = clone --recursive
[credential]
	helper = cache
[submodule]
	recurse = true
[include]
    path = ~/.gitconfig_local
	# can be used to change user.name or apply other includeIf for directory
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
